body{

        min-height: 75rem;
        padding-top: 4.5rem;
      }

      h1{
    border-style : double;
    padding-top: 2rem;
    padding-bottom: 1em;
    background-color: #552375;
    color: white;

       }

.important{
color: :palevioletred;
}
#myname{
color: red;
}
.bgimg
{
    background-image: linear-gradient(rgba(209, 196, 219, 0.5), rgba(35, 99, 107, 0.5)), url("./background.jpg");
  height: 100%;
  position: relative;
  opacity: .95;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}